---
layout: default
---
<h1>{{page.title}}</h1>

{{page.origin}}

{{page.destination}}

{% assign count=0 %}

{% for route in site.routes %}
{% if route.origin == page.origin %}
    {% for route2 in site.routes %}
        {% if route2.destination == page.destination and route2.origin == route.destination %}
        {% assign count=count | plus: 1 %}        
  <h2>Method {{count}}</h2>
    <h3>Step 1</h3>
        {{route.content}}
    <h3>Step 2</h3>
        {{route2.content}}
        {% endif %}
  {% endfor %}
  {% endif %}
{% endfor %}

{% for route in site.routes %}
{% if route.origin == page.origin %}
    {% for route2 in site.routes %}
        {% if route2.origin == route.destination %}
        {% for route3 in site.routes %}
        {% if route3.origin == route2.destination and route3.destination == page.destination %}
        {% assign count=count | plus: 1 %}        
  <h2>Method {{count}}</h2>
    <h3>Step 1</h3>
        {{route.content}}
    <h3>Step 2</h3>
        {{route2.content}}
    <h3>Step 3</h3>
        {{route3.content}}
        {% endif %}
        {% endfor %}
        {% endif %}
  {% endfor %}
  {% endif %}
{% endfor %}