---
layout: default
---
<h1>{{page.title}}</h1>

{{page.origin}}

{{page.destination}}

{% assign count=0 %}

{% assign rstart=site.routes | where:'origin', page.origin %}
{% assign rfinal=site.routes |where: 'destination', page.destination %}
{% for route in rstart %}
    {% assign r2=rfinal|where: "origin", route.destination %}
    {% for route2 in r2 %}
        {% assign count=count | plus: 1 %}        
  <h2>Method {{count}}. {{route.title}}</h2>
    <h3>Step 1</h3>
        {{route.content}}
    <h3>Step 2</h3>
        {{route2.content}}
  {% endfor %}
{% endfor %}

{% for route in rstart %}
    {% assign r2 = site.routes | where: 'origin', route.destination %}
    {% for route2 in r2 %}
        {% assign r3 = site.routes | where: 'origin', route2.destination | where: 'destination', page.destination %}
        {% for route3 in r3 %}
        {% assign count=count | plus: 1 %}        
  <h2>Method {{count}}. {{route.title}}</h2>
    <h3>Step 1</h3>
        {{route.content}}
    <h3>Step 2</h3>
        {{route2.content}}
    <h3>Step 3</h3>
        {{route3.content}}
        {% endfor %}
  {% endfor %}
{% endfor %}